@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* sirf .custom-scroll wali div par scrollbar apply hoga */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e5e7eb; /* Tailwind gray-200 */
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #dee2e6; /* Tailwind blue-500 */
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #dee2e6; /* Tailwind blue-600 */
}
